{% load static %}
<!DOCTYPE html>
<html lang="en" style="background-color: black">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Confirmation</title>
    <style>
        p {
        color:white;
        font-size:20px;
        
        }
        </style>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'Portalapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'Portalapp/css/simple-sidebar.css' %}" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" id="listd">
                <li class="sidebar-brand">
                    <a href="{% url 'Portalapp:index' %}"id = "sidetitle">
                        NITK Complaint System
                    </a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:index' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:Admin' %}">Log In</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:complaint' %}">Submit Complaint Form</a>
                </li>
                <li>
                    <a href="{% url 'Portalapp:Admin' %}">Check Approved Complaints</a>
                </li>
                
                   
            </ul>
        </div>
		<div id="page-content-wrapper">
		<div class="container-fluid">
               <div id="mainhead"> <h1 id="headingtext"><strong>CONGRATULATIONS</strong></h1></div><br><br>

               <h3 id="fontad" style="color:rgb(209, 26, 26)">Approved Requests:</h3><hr>
            <div id="fontad" class="container-fluid"  style="background-color:#383a3d">   
			<div class="col-lg-12"><div class="col-lg-1"></div>
			
                    <div class="col-lg-1" id="fontad"><h4 style="color:rgb(255, 255, 255);"><b><u>Name</u></b></h4>
					{% for names in name_n %}
					<p>{{forloop.counter}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{names}}</p>{% endfor %}</div>
					
					<div class="col-lg-1"><h4 style="color:rgb(255, 255, 255)"><b><u>Branch</u></b></h4>
					{% for branches in branch_n %}
					<p>{{branches}}</p>{% endfor %}</div>
					
					<div class="col-lg-1"><h4 style="color:rgb(255, 255, 255)"><b><u>DOB</u></b></h4>
					{% for dob in date_n %}
					<p>{{dob}}</p>{% endfor %}</div>
					
					<div class="col-lg-1"><h4 style="color:rgb(255, 255, 255)"><b><u>Roll</u></b></h4>
					{% for rolls in roll_number_n %}
					<p>{{rolls}}</p>{% endfor %}</div>
					
					<div class="col-lg-2"><h4 style="color:rgb(255, 255, 255)"><b><u>Reason to join</u></b></h4>
					{% for infos in info_n %}
					<p>{{infos}}</p>{% endfor %}</div>
					
					<div class="col-lg-2"><h4 style="color:rgb(255, 255, 255)"><b><u>Email</u></b></h4>
					{% for emails in email_n %}
					<p>{{emails}}</p>{% endfor %}</div>
					
					<div class="col-lg-1"><h4 style="color:rgb(255, 255, 255)"><b><u>Phone</u></b></h4>
					{% for phones in phone_n %}
					<p>{{phones}}</p>{% endfor %}</div>
					
					<div class="col-lg-1"><h4 style="color:rgb(255, 255, 255)"><b><u>Approval</u></b></h4>
					{% for phones in phone_n %}
					<p><button type="button" class="btn btn-danger">Approved</button></p>{% endfor %}	
							</div>
					
					
					
					<div class="col-lg-3"></div></div></div>			
<br><hr><br>
			   <div><center><a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">MENU</a>	</center></div>
				</div></div></div>
				<script src="{% static 'Portalapp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'Portalapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>